extends ../layouts/default

block content
	// - Show banner on normal screen
	figure(class="banner" data-height="650" style="background: url('images/bg.jpg') repeat;")
		figcaption(class="banner-caption")
			.container.styles__container-fluid___3f8lF
				.slider.single-item.vcenter-sm
					.styles_banner
						img(class="styles__logo___1lCjA" src="/images/itsilogo-bluecircle.png"  alt="")
						.styles__hero__title___DH178
							p.styles__heading1___yx_UY 人才输出.驻场支持
						.styles__hero__subtitle___uMSim.styles_banner
							| 我们提供专业IT人才输出服务；客户通过我们提供的人才输出和外包服务，可以招聘到许多从其他渠道难以找到的精通专业技能、富有责任心的高质量专业IT开发人才
						.styles__hero__buttons___2QWHq
								a(class="btn btn-app btn-lg"  href="#contact") 需要人才  
								a(class="styles__hero__button__secondary___uUXA2" href="/candidate") or 详细了解...
					.styles_banner
						img(class="styles__logo___1lCjA" src="/images/itsilogo-circle-1.png"  alt="")
						.styles__hero__title___DH178
							p.styles__heading1___yx_UY 软件设计.开发.交付
						.styles__hero__subtitle___uMSim.styles_banner
							| 我们提供专业的软件系统设计、开发和交付服务；基于组件化、高效安全的快速开发平台,
							| 我们为客户提供移动互联网环境下的新一代的移动APP、软件产品和信息管理系统。
						.styles__hero__buttons___2QWHq
								a(class="btn btn-app btn-lg"  href="#contact") 联系我们  
								a(class="styles__hero__button__secondary___uUXA2" href="/software") or 详细了解...
					.styles_banner
						img(class="styles__logo___center" src="/images/share.png"  alt="")
						.styles__hero__title___DH178
							p.styles__heading1___yx_UY Open-Knowledge
						.styles__hero__subtitle___uMSim.styles_banner
							| 我们是开源世界的培训师;在开源的世界里，为培养专业的软件开发人才提供知识分享和学习平台。
							| Open-Knowledge融合了线上和线下学习社区，涵盖了从前端开发到云端开发的全栈开发培养体系。
						.styles__hero__buttons___2QWHq
								a(class="btn btn-app btn-lg"  href="/blog") 马上体验 
	// - Show banner on mobile phone
	.container.xbanner.styles__container-fluid___3f8lF
				img(class="styles__logo___1lCjA" src="/images/itsilogo-circle-1.png"  alt="")
				p.styles__heading1___yx_UY 软件设计.开发.交付
				.styles__hero__subtitle___uMSim
					| 我们提供专业的软件系统设计、开发和交付服务；基于组件化和高效安全的快速开发平台,
					| 我们为客户提供移动互联网环境下的新一代的APP、软件产品和信息管理系统。
				.styles__hero__buttons___2QWHq
					a(class="btn btn-app btn-lg"  href="#contact") 联系我们  
					a(class="styles__hero__button__secondary___uUXA2" href="/software") or 详细了解...
	section.bg-gray.styles__banner___1Bh99
		.styles__banner__bg__1___zkYQ6.styles__banner__bg___3aOiu.styles__center___ITgBO
		.styles__banner__bg__2___3f-vf.styles__banner__bg___3aOiu.styles__center___ITgBO
		.container.styles_center.styles__container-fluid___3f8lF
			.row.styles_center
				.text-center.m-b-lg
					h2.display-1 IT专业人才
				.row.m-t-lg.m-b-lg
					.col-xs-6.col-sm-3
						a.card.hover-shadow-3(href="candidate#icatalog")
							.card-block.b-b.text-center
								i.ion-ios-game-controller-a-outline.fa-3x
							.card-block.bg-gray-lighter-o
								span UI/UE设计师
									span.badge.badge-purple.pull-right 5
					.col-xs-6.col-sm-3
						a.card.hover-shadow-3(href="candidate#icatalog")
							.card-block.b-b.text-center
								i.ion-ios-keypad-outline.fa-3x
							.card-block.bg-gray-lighter-o
								span 资深软件架构师
									span.badge.badge-purple.pull-right 3
					.col-xs-6.col-sm-3
						a.card.hover-shadow-3(href="candidate#icatalog")
							.card-block.b-b.text-center
								i.ion-social-github-outline.fa-3x
							.card-block.bg-gray-lighter-o
								span JAVA开发工程师
									span.badge.badge-purple.pull-right 30
					.col-xs-6.col-sm-3
						a.card.hover-shadow-3(href="candidate#icatalog")
							.card-block.b-b.text-center
								i.ion-stats-bars.fa-3x
							.card-block.bg-gray-lighter-o
								span 数据可视化开发工程师
									span.badge.badge-purple.pull-right 8
					.col-xs-6.col-sm-3
						a.card.hover-shadow-3(href="candidate#icatalog")
							.card-block.b-b.text-center
								i.ion-social-sass.fa-3x
							.card-block.bg-gray-lighter-o
								span 前端开发工程师
									span.badge.badge-purple.pull-right 12
					.col-xs-6.col-sm-3
						a.card.hover-shadow-3(href="candidate#icatalog")
							.card-block.b-b.text-center
								i.ion-social-apple-outline.fa-3x
							.card-block.bg-gray-lighter-o
								span IOS开发工程师
									span.badge.badge-purple.pull-right 7
					.col-xs-6.col-sm-3
						a.card.hover-shadow-3(href="candidate#icatalog")
							.card-block.b-b.text-center
								i.ion-social-android-outline.fa-3x
							.card-block.bg-gray-lighter-o
								span 安卓开发工程师
									span.badge.badge-purple.pull-right 16
					.col-xs-6.col-sm-3
						a.card.hover-shadow-3(href="candidate#icatalog")
							.card-block.b-b.text-center
								i.ion-social-nodejs.fa-3x
							.card-block.bg-gray-lighter-o
								span 全栈开发工程师
									span.badge.badge-purple.pull-right 3
	
	section.styles__banner___1Bh99
		.styles__banner__bg__1___zkYQ6.styles__banner__bg___3aOiu.styles__center___ITgBO
		.styles__banner__bg__2___3f-vf.styles__banner__bg___3aOiu.styles__center___ITgBO
		.container.styles_center.styles__container-fluid___3f8lF
			.row
					.styles__col-xs-12___16jS_.styles__col-sm-10___3HknL.styles__col-md-8___3HA8K.styles__col-sm-offset-1___17e36.styles__col-md-offset-2___3f0ag
						.styles__section___4Y5ff.styles__large___4rfhu
								p.styles__p___3QiVQ.styles__lead___2ugqp
									strong 娱信互动
									| 是一家专注于数据可视化研究和软件开发的高科技软件公司。在以用户体验为核心的指导思想下，利用
									strong Tableau
									| 数据可视化平台和工具，为企业级大数据分析打造量身定制的敏捷商务智能（BI）应用。
								p.styles__p___3QiVQ.styles__lead___2ugqp
									| 同时，我们利用自身专业的核心技术团队和多年项目开发经验的优势，开展专业软件开发人才的培养孵化和人才输出。我们密切关注国际领先的软件开发技术和框架，并与IT行业中领军的跨国集团保持合作，期望在数据时代来临之际，为有志成为专业软件开发人才的年轻人，提供一个成长的机遇和发展的平台。
								p.styles__p___3QiVQ
									ul.styles__textList___2Q5hw
										li 
											span 如果你有数据可视化软件项目的开发需求，我们可以设计、开发并按时保证质量的交付。
										li 
											span 如果你的项目时间紧、缺人手、并且要严格控制成本，我们可以提供专业的
												a.styles__linkText___2_nAB(href="/candidate" title="Get in touch today" tabindex="3") 人才支持。
										li
											span 如果你是充满激情，有上进心的年轻人，并渴望成为专业的软件开发人才，欢迎加入我们。
								p.styles__p___3QiVQ.styles__lead___2ugqp
									a.styles__linkText___2_nAB(href="#contact" title="Get in touch today" tabindex="3") 联系我们

	section.contactbg
		#contact.container.styles__container-fluid___3f8lF
			.row.p-t-md.p-b-lg.styles_center
				.row: .col-sm-8.col-md-10.col-md-offset-1
					include ../includes/contact.pug

block js
	script(src='/js/appui/slick.min.js')
	script(src='/js/appui/homeslick.js')
