extends ../layouts/default

block content
	figure(class="banner" data-height="650" style="background: url('images/bg.jpg') repeat;")
		figcaption(class="banner-caption")
			.container
				.slider.single-item
					.styles_banner
						img(class="styles__logo___1lCjA" src="images/itsilogo-circle-1.png"  alt="")
						.styles__hero__title___DH178
							p.styles__heading1___yx_UY 设计.开发.交付
						.styles__hero__subtitle___uMSim.styles_banner
							| 我们提供专业的软件系统设计、开发和交付服务；基于组件化、高效安全的快速开发平台,
							| 我们为客户提供移动互联网环境下的新一代的移动APP、软件产品和信息管理系统。
						.styles__hero__buttons___2QWHq
								a(class="btn btn-app btn-lg"  href="#contact") 联系我们  
								a(class="styles__hero__button__secondary___uUXA2" href="/software") or 详细了解...
					.styles_banner
						img(class="styles__logo___center" src="images/share.svg"  alt="")
						.styles__hero__title___DH178
							p.styles__heading1___yx_UY Open-Knowledge
						.styles__hero__subtitle___uMSim.styles_banner
							| 我们是开源世界的培训师;在开源的世界里，为培养专业的软件开发人才提供知识分享和学习平台。
							| Open-Knowledge融合了线上和线下学习社区，涵盖了从前端开发到云端开发的全栈开发培养体系。
						.styles__hero__buttons___2QWHq
								a(class="btn btn-app btn-lg"  href="/blog") 马上体验 
								a(class="styles__hero__button__secondary___uUXA2" href="#intro") or 详细了解...
					.styles_banner
						img(class="styles__logo___1lCjA" src="images/itsilogo-bluecircle.png"  alt="")
						.styles__hero__title___DH178
							p.styles__heading1___yx_UY 人才输出.驻场支持
						.styles__hero__subtitle___uMSim.styles_banner
							| 客户通过我们提供的人才输出和外包服务，可以招聘到许多从其他渠道难以找到的精通专业技能、富有责任心的高质量专业IT开发人才
						.styles__hero__buttons___2QWHq
								a(class="btn btn-app btn-lg"  href="#contact") 联系我们  
								a(class="styles__hero__button__secondary___uUXA2" href="#intro") or 详细了解...
	section.bg-white
		#intro.container.p-y-xl.b-b
			.row
				.col-md-6.col-md-offset-3.text-center
					.section-tag
						| 团队理念
					h2(h1 display-1 m-t) 用户体验为核心
					p 时刻从用户的角度出发去看待自己开发出来的软件产品；超出用户的预期，形成真正的用户体验；关注产品的每一个细节；
			.row.text-center.styles_center
				.col-md-4
					i.ion-person-stalker.text-green.fa-4x
					h4 从用户角度出发
					p.text-muted 用户的习惯是开发者需要观察适应的，软件产品需要通过优秀的交互设计让用户学习
				.col-md-4
					i.ion-archive.text-green.fa-4x
					h4 给用户带来惊喜
					p.text-muted 什么叫体验？超出用户预期的才叫体验。如果用户用完后，仅仅达到了预期的效果，就不会形成真正的体验。
				.col-md-4
					i.ion-pie-graph.text-green.fa-4x
					h4 用户体验从细节开始
					p.text-muted 从用户体验的细节出发，从很多细微之处出发，能够对用户体验做出持续的改进。
	section.p-y-xl.bg-white
		.container.styles_center
			.row.m-b-md
				.col-md-6.col-md-offset-3.text-center
					h2(h1 display-1 m-t) 产品质量为根本
			.row.vcenter-md.m-b-md
				.col-md-4.col-md-offset-1.text-center.text-md-left
					h2.h1.display-1.m-b 手机APP  
						em.ion-social-apple-outline(style="color:green;") 
					p.lead.m-b-lg 精致优美的用户界面；流畅的页面加载；动态的页面内容更新；
					p.text-muted IOS平台开发; Android平台开发; Hybrid APP开发
					p.m-b-md
						a(class="btn btn-app btn-lg" href="/software") 详细信息
							i.ion-ios-arrow-forward.m-l-xs
				.col-md-4.col-md-offset-2
					img.img-responsive(src="images/frontend_home3.png")
	section.container.styles__container-fluid___3f8lF
		.styles__row___3prcF
			.styles__col-xs-12___16jS_.styles__col-sm-10___3HknL.styles__col-md-10___3ugK9.styles__col-sm-offset-1___17e36.styles__col-md-offset-1___1Y_f-
				.styles__recentWork___3kMw2
					.styles__section___4Y5ff.styles__default___2Oysz
						.styles__sectionTitle___2kwdL
							.styles__line___2q_0Q
							h2.h1.display-1.m-t.styles__heading3___3O02_ 我们的开源项目
							.styles__line___2q_0Q
						.styles__sectionContent___2CLQr
							.styles__row___3prcF
								.styles__col-xs-12___16jS_.styles__col-sm-6___2FmF7
									.styles__work___29FoS 
										.styles__work__header___7K8Hu
											.styles__heading4___3SiAp
												a.Tappable-inactive.styles__work__titleLink___w9T6c(style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); user-select: none; cursor: pointer;" href="https://github.com/Tangcuyu/webmasscan") Webmasscan
											img.styles__work__icon___11svu(src="images/scan.svg")
										.styles__work__content___2nrTq
											p.styles__p___3QiVQ
												| Webmasscan是一个极速的网络扫描工具，可以把网络扫描结果持久化在各种类型的数据库中，并可以通过图形化Web界面实时显示扫描过程和扫描结果。
											.styles__work__labels___2Xskw
												span.styles__default___VFBcO.styles__normal___1nLKI.styles__base___3RY55.styles__inline___3uxKd NODE
												span.styles__default___VFBcO.styles__normal___1nLKI.styles__base___3RY55.styles__inline___3uxKd Masscan
												span.styles__default___VFBcO.styles__normal___1nLKI.styles__base___3RY55.styles__inline___3uxKd Websocket
								.styles__col-xs-12___16jS_.styles__col-sm-6___2FmF7
									.styles__work___29FoS 
										.styles__work__header___7K8Hu
											.styles__heading4___3SiAp
												a.Tappable-inactive.styles__work__titleLink___w9T6c(style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); user-select: none; cursor: pointer;" href="https://github.com/Tangcuyu/perfectInfo") PerfectInfo
											img.styles__work__icon___11svu(src="images/flag1.svg")
										.styles__work__content___2nrTq
											p.styles__p___3QiVQ
												| PerfectInfo充分利用数据可视化技术、物联网、WebSocket技术把物联网传感器产生的实时数据，通过WEB界面展示和交互，形成了物联网数据的可视化应用.
											.styles__work__labels___2Xskw
												span.styles__default___VFBcO.styles__normal___1nLKI.styles__base___3RY55.styles__inline___3uxKd NODE
												span.styles__default___VFBcO.styles__normal___1nLKI.styles__base___3RY55.styles__inline___3uxKd KEYSTONE	
												span.styles__default___VFBcO.styles__normal___1nLKI.styles__base___3RY55.styles__inline___3uxKd Express
								.styles__col-xs-12___16jS_.styles__col-sm-6___2FmF7
									.styles__work___29FoS 
										.styles__work__header___7K8Hu
											.styles__heading4___3SiAp
												a.Tappable-inactive.styles__work__titleLink___w9T6c(style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); user-select: none; cursor: pointer;" href="https://github.com/Tangcuyu") H5Game+
											img.styles__work__icon___11svu(src="images/game.svg")
										.styles__work__content___2nrTq
											p.styles__p___3QiVQ
												| 基于Phaser的，兼容手机和各种主流浏览器的H5 Canvas和 WebGL游戏.
											.styles__work__labels___2Xskw
												span.styles__default___VFBcO.styles__normal___1nLKI.styles__base___3RY55.styles__inline___3uxKd NODE
												span.styles__default___VFBcO.styles__normal___1nLKI.styles__base___3RY55.styles__inline___3uxKd Phaser
								.styles__col-xs-12___16jS_.styles__col-sm-6___2FmF7
									.styles__work___29FoS 
										.styles__work__header___7K8Hu
											.styles__heading4___3SiAp
												a.Tappable-inactive.styles__work__titleLink___w9T6c(style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); user-select: none; cursor: pointer;" href="https://github.com/Tangcuyu") PlotMIS
											img.styles__work__icon___11svu(src="images/plot.svg")
										.styles__work__content___2nrTq
											p.styles__p___3QiVQ
												| PlotMIS是一个污染地块信息管理系统，融合了全面的污染地块治理流程和基于ARCGIS地理信息系统的全方位管理信息系统.
											.styles__work__labels___2Xskw
												span.styles__default___VFBcO.styles__normal___1nLKI.styles__base___3RY55.styles__inline___3uxKd Spring
												span.styles__default___VFBcO.styles__normal___1nLKI.styles__base___3RY55.styles__inline___3uxKd ArcGIS
												span.styles__default___VFBcO.styles__normal___1nLKI.styles__base___3RY55.styles__inline___3uxKd AngularJS
	section.contactbg
		#contact.container
			.row
				.col-md-6.col-md-offset-3
					h3.text-center 联系我们
			.row.p-t-md.p-b-lg
				.row: .col-sm-8.col-md-6.col-md-offset-3
					include ../includes/contact.pug

block js
	script(src='/js/appui/slick.min.js')
	script(src='/js/appui/homeslick.js')
