extends ../layouts/default

block content
	figure(class="banner" data-height="650" style="background: url('images/bg.jpg') repeat;")
		figcaption(class="banner-caption")
			.container
				.slider.single-item
					.styles_banner
						img(class="styles__logo___1lCjA" src="images/itsilogo-circle-1.png"  alt="")
						.styles__hero__title___DH178
							p.styles__heading1___yx_UY 设计.开发.交付
						.styles__hero__subtitle___uMSim.styles_banner
							| 我们提供专业的软件系统设计、开发和交付服务；基于组件化、高效安全的快速开发平台,
							| 我们为客户提供移动互联网环境下的新一代的移动APP、软件产品和信息管理系统。
						.styles__hero__buttons___2QWHq
								a(class="btn btn-app btn-lg"  href="#contact") 联系我们  
								a(class="styles__hero__button__secondary___uUXA2" href="#intro") or 详细了解...
					.styles_banner
						img(class="styles__logo___center" src="images/share.png"  alt="")
						.styles__hero__title___DH178
							p.styles__heading1___yx_UY Open-Knowledge
						.styles__hero__subtitle___uMSim.styles_banner
							| 我们是开源世界的培训师;在开源的世界里，为培养专业的软件开发人才提供知识分享和学习平台。
							| Open-Knowledge融合了线上和线下学习社区，涵盖了从前端开发到云端开发的全栈开发培养体系。
						.styles__hero__buttons___2QWHq
								a(class="btn btn-app btn-lg"  href="#contact") 亲身体验 
								a(class="styles__hero__button__secondary___uUXA2" href="#intro") or 详细了解...
					.styles_banner
						img(class="styles__logo___1lCjA" src="images/itsilogo-bluecircle.png"  alt="")
						.styles__hero__title___DH178
							p.styles__heading1___yx_UY 人才输出.驻场支持
						.styles__hero__subtitle___uMSim.styles_banner
							| 客户通过我们提供的人才输出和外包服务，可以招聘到许多从其他渠道难以找到的精通专业技能、富有责任心的高质量专业IT开发人才
						.styles__hero__buttons___2QWHq
								a(class="btn btn-app btn-lg"  href="#contact") 联系我们  
								a(class="styles__hero__button__secondary___uUXA2" href="#intro") or 详细了解...
	section.bg-white
		#intro.container.p-y-xl.b-b
			.row
				.col-md-6.col-md-offset-3.text-center
					.section-tag
						| 团队理念
					h2(h1 display-1 m-t) 用户体验为核心
					p 时刻从用户的角度出发去看待自己开发出来的软件产品；超出用户的预期，形成真正的用户体验；关注产品的每一个细节；
			.row.text-center.styles_center
				.col-md-4
					i.ion-person-stalker.text-green.fa-4x
					h4 从用户角度出发
					p.text-muted 用户的习惯是开发者需要观察适应的，软件产品需要通过优秀的交互设计让用户学习
				.col-md-4
					i.ion-archive.text-green.fa-4x
					h4 给用户带来惊喜
					p.text-muted 什么叫体验？超出用户预期的才叫体验。如果用户用完后，仅仅达到了预期的效果，就不会形成真正的体验。
				.col-md-4
					i.ion-pie-graph.text-green.fa-4x
					h4 用户体验从细节开始
					p.text-muted 从用户体验的细节出发，从很多细微之处出发，能够对用户体验做出持续的改进。
	section.p-y-xl.bg-white
		.container.styles_center
			.row.m-b-md
				.col-md-6.col-md-offset-3.text-center
					h2(h1 display-1 m-t) 产品质量为根本
			.row.vcenter-md.m-b-md
				.col-md-4.col-md-offset-1.text-center.text-md-left
					h2.h1.display-1.m-b 移动APP   
						i.ion-social-apple-outline
					p.lead.m-b-lg 精致优美的用户界面；流畅的页面加载；动态的页面内容更新；
					p.text-muted 支持IOS平台; Android平台; Hybrid移动APP
					p.m-b-md
						a(class="btn btn-app btn-lg" href="/contact") 详细信息
							i.ion-ios-arrow-forward.m-l-xs
				.col-md-4.col-md-offset-2
					img.img-responsive(src="images/frontend_home3.png")
	section.p-y-xl.bg-white
		.container.styles_center
			.row.vcenter-md.m-b-md
				.col-md-4.col-md-push-7.text-center.text-md-left
					h2.h1.display-1.m-b 前端技术栈   
						i.ion-social-javascript-outline
					p.lead.m-b-lg  最新HTML5/CSS3/JAVASCRIPT 前端框架
					p.text-muted NPM、YEOMAN、WEBPACK、BrowserSync、Karma、AngularJS、React、Vue、Bootstrap
					p.m-b-md
						a(class="btn btn-app btn-lg" href="/contact") 详细信息
							i.ion-ios-arrow-forward.m-l-xs  
				.col-md-4.col-md-pull-3
					img.img-responsive(src="images/frontend_home2.png")
	section.p-y-xl.bg-white
		.container.styles_center
			.row.vcenter-md.m-b-md
				.col-md-4.col-md-offset-1.text-center.text-md-left
					h2.h1.display-1.m-b 后端技术栈    
						i.ion-social-github-outline
					p.lead.m-b-lg 稳定的安全框架、多种类型数据库集成，RESFful支持，融合云端快捷部署
					p.text-muted MAVEN、SPRING、SPRING MVC REST、SPRING DATA JPA、NETFLIX OSS、LIQUIBASE
					p.m-b-md
						a(class="btn btn-app btn-lg" href="/contact") 详细信息
							i.ion-ios-arrow-forward.m-l-xs
				.col-md-4.col-md-offset-2
					img.img-responsive(src="images/frontend_home4.png")
	section.p-y-xl.bg-white.hidden-sm.hidden-xs
		.container.styles_center
			.row.m-b-md
				.col-md-6.col-md-offset-3.text-center
					.section-tag
						| 开发流程
					h2(h1 display-1 m-t) 规范化开发流程
			.row.vcenter-md.m-b-md
				.col-md-1.col-md-offset-1
					img(class="styles_arrowimg" src="images/arrowup.svg")
				.col-md-4
					.img-box
						img(class="img-avatar" src="images/interface.svg")
						.img-text
							h2.h2.m-t-0 BA团队
							p.m-b 需求分析是项目成败的关键
							a(href="/contact") 查看成功案例
								i.ion-ios-arrow-right.m-l-xs
				.col-md-1
					.img-box
						img(class="styles_arrowimg" src="images/arrowright.svg")
				.col-md-4
					.img-box
						img(class="img-avatar" src="images/ba.svg")
						.img-text
							h2.h2.m-t-0 设计团队
							p.m-b 系统原型展现出系统上线时候的全貌
							a(href="javascript:void(0)") 查看成功案例
								i.ion-ios-arrow-right.m-l-xs
				.col-md-1
					.img-box
						img(class="styles_arrowimg" src="images/arrowright.svg")
				.col-md-4
					.img-box
						img(class="img-avatar" src="images/cto1.svg")
						.img-text
							h2.h2.m-t-0 开发团队
							p.m-b 统一标准编码，保证了系统扩展和移植
							a(href="javascript:void(0)") 查看成功案例
								i.ion-ios-arrow-right.m-l-xs
			.row.vcenter-md.m-b-md
				.col-md-4
					.img-box
						img(class="img-avatar" src="images/flag.svg")
						.img-text
							h2.h2.m-t-0 销售团队
							p.m-b 项目启动
							a(href="/contact") 查看成功案例
								i.ion-ios-arrow-right.m-l-xs
				.col-md-2.col-md-offset-7
					.img-box
						img(src="images/arrow.svg")
			.row.vcenter-md.m-b-md
				.col-md-4.col-md-offset-2
					.img-box
						img(class="img-avatar" src="images/mainten.svg")
						.img-text
							h2.h2.m-t-0 维护团队
							p.m-b 对系统的运行进行维护和技术支持
							a(href="/contact") 查看成功案例
								i.ion-ios-arrow-right.m-l-xs
				.col-md-1
					.img-box
						img(class="styles_arrowimg" src="images/arrowleft.svg")
				.col-md-4
					.img-box
						img(class="img-avatar" src="images/cloud.svg")
						.img-text
							h2.h2.m-t-0 部署团队
							p.m-b 确保在项目规定的时间内部署系统上线运行
							a(href="javascript:void(0)") 查看成功案例
								i.ion-ios-arrow-right.m-l-xs
				.col-md-1
					.img-box
						img(class="styles_arrowimg" src="images/arrowleft.svg")
				.col-md-4
					.img-box
						img(class="img-avatar" src="images/test.svg")
						.img-text
							h2.h2.m-t-0 测试团队
							p.m-b 完善的系统测试保证系统的正常上线
							a(href="javascript:void(0)") 查看成功案例
								i.ion-ios-arrow-right.m-l-xs
	section.contactbg
		#contact.container
			.row
				.col-md-6.col-md-offset-3
					h3.text-center 联系我们
			.row.p-t-md.p-b-lg
				.row: .col-sm-8.col-md-6.col-md-offset-3
					include ../includes/contact.pug

block js
	script(src='/js/appui/slick.min.js')
	script(src='/js/appui/homeslick.js')
