extends ../layouts/default

block content
	figure(class="banner" data-height="650" style="background: url('images/bg.jpg') repeat;")
		figcaption(class="banner-caption")
			.container
				.slider.single-item
					.styles_banner
						img(class="styles__logo___1lCjA" src="images/itsilogo-circle-1.png"  alt="")
						.styles__hero__title___DH178
							p.styles__heading1___yx_UY 软件设计.开发.交付
						.styles__hero__subtitle___uMSim.styles_banner
							| 我们提供专业的软件系统设计、开发和交付服务；基于组件化、高效安全的快速开发平台,
							| 我们为客户提供移动互联网环境下的新一代的移动APP、软件产品和信息管理系统。
						.styles__hero__buttons___2QWHq
								a(class="btn btn-app btn-lg"  href="#contact") 联系我们  
								a(class="styles__hero__button__secondary___uUXA2" href="/software") or 详细了解...
					.styles_banner
						img(class="styles__logo___center" src="images/share.svg"  alt="")
						.styles__hero__title___DH178
							p.styles__heading1___yx_UY Open-Knowledge
						.styles__hero__subtitle___uMSim.styles_banner
							| 我们是开源世界的培训师;在开源的世界里，为培养专业的软件开发人才提供知识分享和学习平台。
							| Open-Knowledge融合了线上和线下学习社区，涵盖了从前端开发到云端开发的全栈开发培养体系。
						.styles__hero__buttons___2QWHq
								a(class="btn btn-app btn-lg"  href="/blog") 马上体验 
					.styles_banner
						img(class="styles__logo___1lCjA" src="images/itsilogo-bluecircle.png"  alt="")
						.styles__hero__title___DH178
							p.styles__heading1___yx_UY 人才输出.驻场支持
						.styles__hero__subtitle___uMSim.styles_banner
							| 客户通过我们提供的人才输出和外包服务，可以招聘到许多从其他渠道难以找到的精通专业技能、富有责任心的高质量专业IT开发人才
						.styles__hero__buttons___2QWHq
								a(class="btn btn-app btn-lg"  href="#contact") 需要人才  
								a(class="styles__hero__button__secondary___uUXA2" href="/candidate") or 详细了解...
	section.bg-gray
		.container.styles_center
			.text-center.m-b-lg
				h2.display-1 技术岗位人才
			.row.m-t-lg.m-b-lg
				.col-xs-6.col-sm-3
					a.card.hover-shadow-3(href="candidate")
						.card-block.b-b.text-center
							i.ion-ios-game-controller-a-outline.fa-3x
						.card-block.bg-gray-lighter-o
							span UI/UE设计师
								span.badge.badge-purple.pull-right 5
				.col-xs-6.col-sm-3
					a.card.hover-shadow-3(href="candidate")
						.card-block.b-b.text-center
							i.ion-ios-keypad-outline.fa-3x
						.card-block.bg-gray-lighter-o
							span 资深软件架构师
								span.badge.badge-purple.pull-right 3
				.col-xs-6.col-sm-3
					a.card.hover-shadow-3(href="candidate")
						.card-block.b-b.text-center
							i.ion-social-github-outline.fa-3x
						.card-block.bg-gray-lighter-o
							span JAVA开发工程师
								span.badge.badge-purple.pull-right 30
				.col-xs-6.col-sm-3
					a.card.hover-shadow-3(href="candidate")
						.card-block.b-b.text-center
							i.ion-log-in.fa-3x
						.card-block.bg-gray-lighter-o
							span DBA 数据库管理员
								span.badge.badge-purple.pull-right 12
				.col-xs-6.col-sm-3
					a.card.hover-shadow-3(href="candidate")
						.card-block.b-b.text-center
							i.ion-social-sass.fa-3x
						.card-block.bg-gray-lighter-o
							span 前端开发工程师
								span.badge.badge-purple.pull-right 5
				.col-xs-6.col-sm-3
					a.card.hover-shadow-3(href="candidate")
						.card-block.b-b.text-center
							i.ion-social-apple-outline.fa-3x
						.card-block.bg-gray-lighter-o
							span IOS开发工程师
								span.badge.badge-purple.pull-right 3
				.col-xs-6.col-sm-3
					a.card.hover-shadow-3(href="candidate")
						.card-block.b-b.text-center
							i.ion-social-android-outline.fa-3x
						.card-block.bg-gray-lighter-o
							span 安卓开发工程师
								span.badge.badge-purple.pull-right 30
				.col-xs-6.col-sm-3
					a.card.hover-shadow-3(href="candidate")
						.card-block.b-b.text-center
							i.ion-social-nodejs.fa-3x
						.card-block.bg-gray-lighter-o
							span 全栈开发工程师
								span.badge.badge-purple.pull-right 12
	section.contactbg
		#contact.container
			.row
				.col-md-6.col-md-offset-3
					h3.text-center 联系我们
			.row.p-t-md.p-b-lg
				.row: .col-sm-8.col-md-6.col-md-offset-3
					include ../includes/contact.pug

block js
	script(src='/js/appui/slick.min.js')
	script(src='/js/appui/homeslick.js')
