extends ../layouts/default

block content
	.page-header.bg-inverse(style="background: url('images/bg.jpg') repeat;")
		.container
			.col-md-3.col-md-offset-1
				img(src='images/j1.png')
	section.bg-white
		#intro.container.p-y-xl.b-b
			.row
				.col-md-6.col-md-offset-3.text-center
					p.text-muted
						| 娱信互动，一家由崇尚“努力学习，快乐生活”的人组成的公司
					p.text-muted
						| 我们热爱并享受生活，愿意为一切美好喝彩
					p.text-muted
						| 如果你和我们一样，渴望成长
					p.text-muted
						| 那么来吧，加入我们一起享受快乐的工作和生活！
	section.p-y-xl.bg-gray
		.container.styles_center
			.row.m-b-md
				.col-md-6.col-md-offset-3.text-center
					h2(h1 display-1 m-t) 薪酬与福利
					p.text-muted 为你提供优厚的薪酬和完善的福利，才是享受快乐生活的坚强后盾和有力保障
			.row.m-y
				.col-sm-6.col-lg-3
					a(class="card hover-shadow-3 text-center" href="javascript:void(0)")
						.card-header
							h3 基本福利
						.card-block.bg-gray-lighter-o
							.h4.m-y-sm 薪酬
							.h5.font-300.text-muted.m-t-0 月薪+绩效年终奖
						.card-block
							table(class="table table-borderless table-condensed")
								tbody.text-muted
									tr
										td
											| 养老保险
									tr
										td
											| 医疗保险
									tr
										td
											| 失业保险
									tr
										td
											| 工伤保险
									tr
										td
											| 生育保险
									tr
										td
											| 住房公积金		
				.col-sm-6.col-lg-3
					a(class="card hover-shadow-3 text-center" href="javascript:void(0)")
						.card-header
							h3 基本福利
						.card-block.bg-gray-lighter-o
							.h4.m-y-sm 薪酬
							.h5.font-300.text-muted.m-t-0 月薪+绩效年终奖
						.card-block
							table(class="table table-borderless table-condensed")
								tbody.text-muted
									tr
										td
											| 养老保险
									tr
										td
											| 医疗保险
									tr
										td
											| 失业保险
									tr
										td
											| 工伤保险
									tr
										td
											| 生育保险
									tr
										td
											| 住房公积金		
				.col-sm-6.col-lg-3
					a(class="card hover-shadow-3 text-center" href="javascript:void(0)")
						.card-header
							h3 基本福利
						.card-block.bg-gray-lighter-o
							.h4.m-y-sm 薪酬
							.h5.font-300.text-muted.m-t-0 月薪+绩效年终奖
						.card-block
							table(class="table table-borderless table-condensed")
								tbody.text-muted
									tr
										td
											| 养老保险
									tr
										td
											| 医疗保险
									tr
										td
											| 失业保险
									tr
										td
											| 工伤保险
									tr
										td
											| 生育保险
									tr
										td
											| 住房公积金		
				.col-sm-6.col-lg-3
					a(class="card hover-shadow-3 text-center" href="javascript:void(0)")
						.card-header
							h3 基本福利
						.card-block.bg-gray-lighter-o
							.h4.m-y-sm 薪酬
							.h5.font-300.text-muted.m-t-0 月薪+绩效年终奖
						.card-block
							table(class="table table-borderless table-condensed")
								tbody.text-muted
									tr
										td
											| 养老保险
									tr
										td
											| 医疗保险
									tr
										td
											| 失业保险
									tr
										td
											| 工伤保险
									tr
										td
											| 生育保险
									tr
										td
											| 住房公积金								
	section.contactbg
		#contact.container
			.row.p-t-md.p-b-lg
				.row: .col-sm-8.col-md-10.col-md-offset-1
					include ../includes/contact.pug