extends ../layouts/default

block content
	// - Show banner on normal screen
	.page-header.banner.styles__container-fluid___3f8lF.bg-inverse(style="background: url('images/bg1.jpg') repeat;")
		.container
			.col-md-3.col-md-offset-1
				img(src='images/j1.png').animated.zoomIn
	// - Show banner on mobile
	.container.xbanner.styles__container-fluid___3f8lF
		img(src="/images/w1.svg" style='height:320px;width:320px; margin-left:30px;margin-top:5px;')
	section.bg-white
		#intro.container.p-y-xl.b-b.styles__container-fluid___3f8lF
			.row
				.col-md-6.col-md-offset-3.text-center.lead
					p.text-muted
						| 娱信互动，一家由崇尚“努力学习，快乐生活”的人组成的公司
					p.text-muted
						| 我们热爱并享受生活，愿意为一切美好喝彩
					p.text-muted
						| 如果你和我们一样，渴望成长、热爱生活
					p.text-muted
						| 那么来吧，加入我们一起享受快乐的工作和生活！
	section.p-y-xl.bg-gray
		.container.styles_center.styles__container-fluid___3f8lF
			.row.m-b-md
				.col-md-6.col-md-offset-3.text-center
					h2(h1 display-1 m-t) 薪酬与福利
					p.text-muted 为你提供优厚的薪酬和完善的福利，才是享受快乐生活的坚强后盾和有力保障
			.row.m-y.styles_center
				.col-sm-6.col-lg-3
					a(class="card hover-shadow-3 text-center" href="javascript:void(0)")
						.card-header
							.img-box
								img(src="images/Businessman.svg")
						.card-block.bg-gray-lighter-o
							.h4.m-y-sm 基本福利
							.h5.font-300.text-muted.m-t-0 优厚薪资+年终奖+社保
						.card-block
							table(class="table table-borderless table-condensed")
								tbody.text-muted
									tr
										td
											| 养老保险
									tr
										td
											| 医疗保险
									tr
										td
											| 失业保险
									tr
										td
											| 工伤保险
									tr
										td
											| 生育保险
									tr
										td
											| 住房公积金		
				.col-sm-6.col-lg-3
					a(class="card hover-shadow-3 text-center" href="javascript:void(0)")
						.card-header
							.img-box
								img(src="images/Doctor.svg")
						.card-block.bg-gray-lighter-o
							.h4.m-y-sm 健康关怀
							.h5.font-300.text-muted.m-t-0 补充商业保险
						.card-block
							table(class="table table-borderless table-condensed")
								tbody.text-muted
									tr
										td
											| 意外保险
									tr
										td
											| 重大疾病险
									tr
										td
											| 门诊医疗险
									tr
										td
											| 住院医疗险
				.col-sm-6.col-lg-3
					a(class="card hover-shadow-3 text-center" href="javascript:void(0)")
						.card-header
							.img-box
								img(src="images/Millenial.svg") 
						.card-block.bg-gray-lighter-o
							.h4.m-y-sm 休假福利
							.h5.font-300.text-muted.m-t-0 开心工作、乐享假期
						.card-block
							table(class="table table-borderless table-condensed")
								tbody.text-muted
									tr
										td
											| 带薪年假
									tr
										td
											| 法定节假日
									tr
										td
											| 年资假期
									tr
										td
											| 弹性上班时间
									tr
										td
											| 婚假、产假、陪产假、丧假
									tr
										td
											| 带薪病假		
				.col-sm-6.col-lg-3
					a(class="card hover-shadow-3 text-center" href="javascript:void(0)")
						.card-header
							.img-box
								img(src="images/Designer.svg")
						.card-block.bg-gray-lighter-o
							.h4.m-y-sm 其他福利
							.h5.font-300.text-muted.m-t-0 凝聚团队的力量
						.card-block
							table(class="table table-borderless table-condensed")
								tbody.text-muted
									tr
										td
											| 团建活动
									tr
										td
											| 员工生日关怀
									tr
										td
											| 节庆关怀
									tr
										td
											| 加班福利
									tr
										td
											| 年度体检
									tr
										td
											| 入职转正贺礼								
	section.contactbg
		#contact.container.styles__container-fluid___3f8lF
			.row.p-t-md.p-b-lg.styles_center
				.row: .col-sm-8.col-md-10.col-md-offset-1
					include ../includes/contact.pug